{% extends 'base.html' %}




<title>    {% block title  %}   Home {% endblock title  %}      <title>

{% block body  %}


<div class="container my-4"> 
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"> Some thing Cars </h5>
    <p class="card-text"> we are provideing a cars </p>
    <a href="/blog" class="btn btn-primary"> GO to My Blog </a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div> 







{% endblock body  %}