{% extends 'base.html' %}

<title>    {% block title  %}   Search    {% endblock title  %}      <title>



{% block body  %}


<h2> Search result: </h2> 

{% for post in allPostsss %}




<br> 

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{post.title}} </h5>
    <p class="card-text"> {{post.content}} </p>
    <a href="{{post.content}}" class="btn btn-primary">  Artical by  {{post.author}} </a>
  </div>
</div>






{% endfor %}





{% endblock body  %}




